<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Page d'administration des assurances</h4>
                        <p class="card-category"> ......</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <br>    <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Extract Request (CSV)/(ALL)</button>
                            <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" type="submit">Liste des réclamations</button>
                            <br><br>
                            <form class="form-inline justify-content-end">
                                <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                                <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" type="submit">Rechercher</button><br>
                            </form>
                            
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Charger
                                    </th>
                                    <th>
                                        Demander plus de détails
                                    </th>
                                    <th>
                                        Etat
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
  Request 1                                      </td>
                                        <td>
                                          <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Extract Request (CSV)</button>
                                      </td>
                                        <td>
                                          <button type="button" class="btn btn-outline-secondary">Details</button>
                                      </td>
                                        <td class="text-primary">
                                            <button type="button" class="btn btn-outline-danger">Non encore vue</button>
                                            </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                          Request 2                                     </td>
                                        <td>
                                          <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Extract Request (CSV)</button>
                                      </td>
                                        <td>
                                          <button type="button" class="btn btn-outline-secondary">Details</button>
                                      </td>
                                        <td class="text-primary">
                                          <button type="button" class="btn btn-outline-warning">En cours de traitement </button>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
  Request 3                                      </td>
                                        <td>
                                          <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Extract Request (CSV)</button>
                                      </td>
                                        <td>
                                          <button type="button" class="btn btn-outline-secondary">Details</button>
                                      </td>
                                        <td class="text-primary">
                                          <button type="button" class="btn btn-outline-danger">Non encore vue</button>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
  Request 4                                      </td>
                                        <td>
                                          <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Extract Request (CSV)</button>
                                      </td>
                                        <td>
                                          <button type="button" class="btn btn-outline-secondary">Details</button>
                                      </td>
                                        <td class="text-primary">
                                          <button type="button" class="btn btn-outline-info">Complète</button>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
  Request 5                                      </td>
                                        <td>
                                          <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Extract Request (CSV)</button>
                                      </td>
                                        <td>
                                          <button type="button" class="btn btn-outline-secondary">Details</button>
                                      </td>
                                        <td class="text-primary">
                                          <button type="button" class="btn btn-outline-info">Complète</button>
                                      </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  