<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title ">My Insurance Files</h4>
                      <p class="card-category"> ......</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nom
                                  </th>
                                  <th>
                                      Charger
                                  </th>
                                  <th>
                                      Modifier
                                  </th>
                                  <th>
                                      Reclamer
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
Fichier 1                                      </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-primary">Charger</button>
                                    </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-secondary">Modifier</button>
                                    </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-info">Reclamer</button>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                        Fichier 2                                     </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-primary">Charger</button>
                                    </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-secondary">Modifier</button>
                                    </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-info">Reclamer</button>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
Fichier 3                                      </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-primary">Charger</button>
                                    </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-secondary">Modifier</button>
                                    </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-info">Reclamer</button>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
Fichier 4                                      </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-primary">Charger</button>
                                    </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-secondary">Modifier</button>
                                    </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-info">Reclamer</button>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
Fichier 5                                      </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-primary">Charger</button>
                                    </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-secondary">Modifier</button>
                                    </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-info">Reclamer</button>
                                    </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
